body {
     font-family: 'ProximaNovaAltThin';
}

.heading1 {
    font-weight: none;
    font-size: 100px;
}

.heading3{
    font-weight:none;
    font-size: 180%;
}

/* Fonts */ 

@font-face {
    font-family: 'ProximaNovaAltThin';
    src: url('marksimonson-proximanovaaltthin.eot');
    src: url('marksimonson-proximanovaaltthin.eot') format('embedded-opentype'),
         url('marksimonson-proximanovaaltthin.woff2') format('woff2'),
         url('marksimonson-proximanovaaltthin.woff') format('woff'),
         url('marksimonson-proximanovaaltthin.ttf') format('truetype'),
         url('marksimonson-proximanovaaltthin.svg#ProximaNovaAltThin') format('svg');
}



h1 {
   font-family: "ProximaNovaAltThin";
}

/* Header */ 
.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/background4.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family: "ProximaNovaAltThin";
    color: white;
}


/* Centered Text */ 
.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.tagline {
    font-family: "ProximaNovaAltThin";
    margin: 10px;
    text-align: none;
    padding-left: 250px;
    padding-right: 250px;
    font-size: 40px;
}


/* Search Box */
form {
    width:500px;
    margin:50px auto;
}
.search {
    padding:8px 15px;
    height: 50px;
    border:1px solid #FFFFFF;
    border-radius: 0px;
    opacity: 0.5;
    font-size: 20px;
    color: white;
    background-color:rgba(0,0,0,0)
}
.button {
    position:relative;
    padding:6px 15px;
    left:-8px;
    border:2px solid #207cca;
    background-color:#207cca;
    color:#fafafa;
}
.button:hover  {
    background-color:#fafafa;
    color:#207cca;
}

.btn-search {
    padding:8px 15px;
    background-color: #545E70;
    border-radius: 0px;
    color: white;
    font-size: 25px;
    opacity: 0.5;
}

/*Services*/
.services {
    padding: 50px 0;
}

.service-item {
    margin-bottom: 30px;
}

/*About Us*/
.callout {
    display: table;
    width: 100%;
    height: 400px;
    color: #fff;
    background-color: #234360;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.banner {
    display: table;
    width: 100%;
    height: 200px;
    color: #fff;
    background-color: #234360;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.dropdown-styling {
    padding: 20px;
    margin: 20px;
}

.results-map {
    margin: 100px;
}



