
/* Header */ 
.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/background.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


/* Centered Text */ 
.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}


/* Search Box */
form {
    width:500px;
    margin:50px auto;
}
.search {
    padding:8px 15px;
    background-color: #878787;
    border:1px solid #FFFFFF;
    border-radius: 0px;
    opacity: 0.5;
}
.button {
    position:relative;
    padding:6px 15px;
    left:-8px;
    border:2px solid #207cca;
    background-color:#207cca;
    color:#fafafa;
}
.button:hover  {
    background-color:#fafafa;
    color:#207cca;
}

/*Services*/
.services {
    padding: 50px 0;
}

.service-item {
    margin-bottom: 30px;
}

/*About Us*/
.callout {
    display: table;
    width: 100%;
    height: 400px;
    color: #fff;
    background-color: #428bca;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

